<div id="<%= dom_id toy %>">
  <p>
    <strong>Title:</strong>
    <%= toy.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= toy.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= toy.price %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= toy.age %>
  </p>

  <p>
    <strong>Condition:</strong>
    <%= toy.condition %>
  </p>

</div>
